/* AdminWindow.css */

/* General background */
.root {
    -fx-background-color: #ffffff;
}

/* Header background */
.header {
    -fx-background-color: #335d7a;
}

/* Toolbar background */
.toolbar{
    -fx-background-color: #ffffff;
}

/* Large white labels in the header */
.label-header-white {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: "Albert Sans ExtraBold";
}

/* Small white labels in the header */
.label-subheader-white {
    -fx-text-fill: white;
    -fx-font-size: 10px;
    -fx-font-family: "Albert Sans SemiBold";
}

/* Small white slogan label in the header */
.label-slogan-white {
    -fx-text-fill: white;
    -fx-font-size: 8px;
    -fx-font-family: "Albert Sans ExtraBold Italic";
}

/* Generic blue buttons */
.button-blue {
    -fx-background-color: #80D4F4;
    -fx-background-radius: 10px;
    -fx-text-fill: #000000;
    -fx-font-size: 12px;
    -fx-font-family: "Albert Sans Bold";
}

/* Logout button (red) */
.button-red {
    -fx-background-color: darkred;
    -fx-background-radius: 10px;
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: "Albert Sans Bold";
}