@import "../Header.css";

/* Custom styled ChoiceBox */
.choicebox-rounded {
    -fx-background-radius: 20px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 20px;
    -fx-border-color: #003459;
}